/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

#main {
  @include container;
  @include clearfix;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  animation: intro 0.3s both;
  animation-delay: 0.35s;

  @include breakpoint($x-large) {
    max-width: $x-large;
  }
}

.page {
  @include breakpoint($large) {
    @include span(10 of 12 last);
    @include prefix(0.5 of 12);
    @include suffix(0 of 12);
  }

  .page__inner-wrap {
    @include full();

    .page__content,
    .page__meta,
    .page__share {
      @include full();
    }
  }
}

.page__title {
  margin-top: 0;
  line-height: 1;

  & + .page__meta {
    margin-top: -0.5em;
  }
}

.page__lead {
  font-family: $global-font-family;
  font-size: $type-size-4;
}

.page__content {
  font-family: $global-font-family;
  
  #about-me{
    padding: 1.5em;
    background: linear-gradient(135deg, #f8f9fa 0%, #ffffff 100%);
    border-radius: $border-radius * 2;
    border: 1px solid $border-color;
    margin-bottom: 2em;
    margin-top: 1em;
    font-family: $global-font-family;
    
    p {
      line-height: 1.8;
      margin-bottom: 1em;
      font-family: $global-font-family;
    }
  }
  h1 {
    margin-top: 1.5em;
    margin-bottom: 0.8em;
    padding-bottom: 0.6em;
    border-bottom: 2px solid $border-color;
    font-weight: 600;
    position: relative;
    
    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 60px;
      height: 2px;
      background: linear-gradient(to right, $info-color, lighten($info-color, 20%));
      border-radius: 2px;
    }
  }
  
  h2:not(.section-title) {
    margin-top: 2em;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    font-weight: 600;
    color: $darker-gray;
    position: relative;
    padding-left: 0.75em;
    border-left: 4px solid $info-color;
    
    &::before {
      content: '';
      position: absolute;
      left: -4px;
      top: 0;
      bottom: 0;
      width: 4px;
      background: linear-gradient(to bottom, $info-color, lighten($info-color, 15%));
      border-radius: 2px 0 0 2px;
    }
  }

  p, li, dl {
    font-size: 1em;
    color: $text-color;
    font-family: $global-font-family;
  }
  
  ul, ol {
    font-family: $global-font-family;
    
    li {
      margin-bottom: 0.6em;
      font-family: $global-font-family;
      
      &::marker {
        color: $info-color;
        font-weight: 600;
      }
      
      strong, em, a, span {
        font-family: $global-font-family;
      }
    }
  }

  /* paragraph indents */
  p {
    margin: 0 0 $indent-var;

    /* sibling indentation*/
    @if $paragraph-indent == true {
      & + p {
        text-indent: $indent-var;
        margin-top: -($indent-var);
      }
    }
  }

  a {
    text-decoration: none;
    color: $link-color;
    border-bottom: 1px solid transparent;
    transition: $global-transition;

    &:hover {
      color: $link-color-hover;
      border-bottom-color: $link-color-hover;

      img {
        box-shadow: 0 4px 16px rgba(#000, 0.2);
        transform: scale(1.02);
        transition: $global-transition;
      }
    }
  }

  dt {
    margin-top: 1em;
    font-family: $global-font-family;
    font-weight: bold;
  }

  dd {
    margin-left: 1em;
    font-family: $global-font-family;
    font-size: $type-size-6;
  }

  .small {
    font-size: $type-size-6;
  }

  /* blockquote citations */
  blockquote + .small {
    margin-top: -1.5em;
    padding-left: 1.25rem;
  }
}

.page__hero {
  position: relative;
  margin-bottom: 2em;
  @include clearfix;
  animation: intro 0.3s both;
  animation-delay: 0.25s;

  &--overlay {
    position: relative;
    margin-bottom: 2em;
    padding: 3em 0;
    @include clearfix;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: intro 0.3s both;
    animation-delay: 0.25s;

    a {
      color: #fff;
    }

    .wrapper {
      padding-left: 1em;
      padding-right: 1em;

      @include breakpoint($x-large) {
        max-width: $x-large;
      }
    }

    .page__title,
    .page__meta,
    .page__lead,
    .btn {
      color: #fff;
      text-shadow: 1px 1px 4px rgba(#000, 0.5);
    }

    .page__lead {
      max-width: $medium;
    }

    .page__title {
      font-size: $type-size-2;

      @include breakpoint($small) {
        font-size: $type-size-1;
      }
    }
  }
}

.page__hero-image {
  width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.page__hero-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $caption-font-family;
  font-size: $type-size-7;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 $border-radius 0;

  @include breakpoint($large) {
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

/*
   Social sharing
   ========================================================================== */

.page__share {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $border-color;

  @include breakpoint(max-width $small) {
    .btn span {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}

.page__share-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}


/*
   Page meta
   ========================================================================== */

.page__meta {
  margin-top: 2em;
  color: mix(#fff, $gray, 25%);
  font-family: $global-font-family;
  font-size: $type-size-6;

  p {
    margin: 0;
  }

  a {
    color: inherit;
  }
}

.page__meta-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}


/*
   Page taxonomy
   ========================================================================== */

.page__taxonomy {
  .sep {
    display: none;
  }

  strong {
    margin-right: 10px;
  }
}

.page__taxonomy-item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid $light-gray;
  border-radius: $border-radius;

  &:hover {
    text-decoration: none;
    color: $link-color-hover;
  }
}


/*
   Comments
   ========================================================================== */

.page__comments {
  @include full();
}

.page__comments-title {
  margin-top: 2rem;
  margin-bottom: 10px;
  padding-top: 2rem;
  font-size: $type-size-6;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
}

.page__comments-form {
  padding: 1em;
  background: $lighter-gray;
  transition: $global-transition;

  &.disabled {
    input,
    button,
    textarea,
    label {
      pointer-events: none;
      cursor: not-allowed;
      filter: alpha(opacity=65);
      box-shadow: none;
      opacity: 0.65;
    }
  }
}

.comment {
  @include clearfix();
  margin: 1em 0;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.comment__avatar-wrapper {
  float: left;
  width: 60px;
  height: 60px;

  @include breakpoint($large) {
    width: 100px;
    height: 100px;
  }
}

.comment__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  @include breakpoint($large) {
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 1px solid $border-color;
  }
}

.comment__content-wrapper {
  float: right;
  width: calc(100% - 60px);

  @include breakpoint($large) {
    width: calc(100% - 100px);
  }
}

.comment__author {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.comment__date {
  @extend .page__meta;
  margin: 0;

  a {
    text-decoration: none;
  }
}


/*
   Related
   ========================================================================== */

.page__related {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $border-color;
  @include clearfix();
  float: left;

  @include breakpoint($large) {
    @include pre(2.5 of 12);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.page__related-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}

/*
   Publication List (luqi.info style)
   ========================================================================== */

.publication-list {
  margin-top: 1em;
}

.pub-item {
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 1.5em;
  
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.5em;
    width: 6px;
    height: 6px;
    background-color: #2a4365;
    /* 小方块样式 */
  }
}

.pub-title {
  font-weight: 600;
  margin-bottom: 0.25em;
  
  a {
    color: #1a73e8;
    text-decoration: none;
    
    &:hover {
      color: #1557b0;
      text-decoration: underline;
    }
  }
}

.pub-authors {
  color: #4a5568;
  margin-bottom: 0.25em;
  font-size: 0.95em;
  
  strong {
    color: #2a4365;
  }
}

.pub-venue {
  color: #718096;
  font-size: 0.9em;
  
  strong {
    color: #c53030;
  }
}

/*
   News Scroll Container
   ========================================================================== */

.news-scroll-container {
  max-height: 280px;
  overflow-y: auto;
  padding-right: 8px;
  margin-top: 0.5em;
  
  /* Custom scrollbar styling */
  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 3px;
    
    &:hover {
      background: #a1a1a1;
    }
  }
  
  /* Firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

.news-list {
  list-style: disc;
  padding-left: 1.5em;
  margin: 0;
  
  li {
    margin-bottom: 0.6em;
    line-height: 1.5;
    
    em {
      font-style: italic;
    }
    
    a {
      color: #1a73e8;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
    
    img {
      vertical-align: middle;
      margin-left: 4px;
    }
  }
}

/*
   Life Gallery (More About Me)
   ========================================================================== */

.life-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  margin-top: 1.2em;
  justify-content: flex-start;
}

.gallery-item {
  flex: 0 0 auto;
  width: 140px;
  height: 180px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  }
  
  img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    display: block;
  }
  
  .caption {
    padding: 0.5em;
    text-align: center;
    font-size: 0.75em;
    color: #4a5568;
    background: #f7fafc;
  }
}
