/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 14;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : 0.5em;

/* system typefaces */
$serif                      : Georgia, "Times New Roman", Times, serif;
$sans-serif                 : "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $sans-serif                 : Georgia, serif, sans-serif;

// $sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace;

/* sans serif typefaces */
$sans-serif-narrow          : $serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $serif;
$header-font-family         : $serif;
$caption-font-family        : $serif;

/* type scale */
$type-size-1                : 2.441em;  // ~39.056px
$type-size-2                : 1.953em;  // ~31.248px
$type-size-3                : 1.4em;  // ~25.008px
$type-size-4                : 1.2em;   // ~20px
$type-size-5                : 1em;      // ~16px
$type-size-6                : 1em;   // ~12px
$type-size-7                : 0.6875em; // ~11px
$type-size-8                : 0.625em;  // ~10px


/*
   Colors
   ========================================================================== */

$gray                       : #6c757d;
$dark-gray                  : #2c3e50;
$darker-gray                : #1a252f;
$light-gray                 : #e9ecef;
$lighter-gray               : #f8f9fa;

$body-color                 : #fff;
$background-color           : #ffffff;
$code-background-color      : #f5f7fa;
$code-background-color-dark : $light-gray;
$text-color                 : #2c3e50;
$border-color               : #e0e4e8;

$primary-color              : #4a5568;
$success-color              : #48bb78;
$warning-color              : #ed8936;
$danger-color               : #f56565;
$info-color                 : #4299e1;
// $info-color                 : #52adc8;

/* brands */
$behance-color              : #1769FF;
$dribbble-color             : #ea4c89;
$facebook-color             : #3b5998;
$flickr-color               : #ff0084;
$foursquare-color           : #0072b1;
$github-color               : #171516;
$google-plus-color          : #dd4b39;
$instagram-color            : #517fa4;
$lastfm-color               : #d51007;
$linkedin-color             : #007bb6;
$pinterest-color            : #cb2027;
$rss-color                  : #fa9b39;
$soundcloud-color           : #ff3300;
$stackoverflow-color        : #fe7a15;
$tumblr-color               : #32506d;
$twitter-color              : #55acee;
$vimeo-color                : #1ab7ea;
$vine-color                 : #00bf8f;
$youtube-color              : #bb0000;
$xing-color                 : #006567;


/* links */
$link-color                 : #3182ce;
$link-color-hover           : #2c5282;
$link-color-visited         : #6b46c1;
$masthead-link-color        : $primary-color;
$masthead-link-color-hover  : $info-color;


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);
/*
$small                      : 400px;
$medium                     : 500px;
$medium-wide                : 550px;
$large                      : 1200px;
$x-large                    : 1800px;
*/

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$susy: (
  columns: 12,
  column-width: 120px,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);


/*
   Other
   ========================================================================== */

$border-radius              : 8px;
$box-shadow                 : 0 2px 8px rgba(0, 0, 0, 0.1);
$box-shadow-hover           : 0 4px 16px rgba(0, 0, 0, 0.15);
$navicon-width              : 28px;
$navicon-height             : 4px;
$global-transition          : all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
